.myKeyBoard {
  width: 100%;
  padding: 2.5rem 1.5rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2.5rem 2.5rem 0 0;
  max-width: 800px;
}
.letters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 12px;
}

.button {
  width: 56px;
  height: 64px;
  padding: 0 !important;
  border-radius: 10px !important;
  background-color: #202020 !important;
  font-size: 2rem !important;
  font-weight: 500;
  line-height: 4rem;
  &.letterToNumber {
    font-size: 1.3rem !important;
  }
  &.next,
  &.prev {
    &.focused {
      .nextIcon path {
        fill: #000;
      }
      .prevIcon path {
        fill: #000;
      }
    }
  }
}

.focused {
  background-color: var(--light) !important;
  color: #202020 !important;
  svg {
    stroke: #000;
  }
}

.functionality {
  margin-top: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  .button {
    &.space {
      width: 192px;
    }
    &.enter {
      width: 124px;
    }
  }
}
