.button {
  width: auto;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  transition: var(--default-transiton);
  border: none;
  padding: 18px 32px 18px 32px;
}

.black {
  background-color: var(--black);
  &.focus {
    background-color: var(--grey);
  }
}

.disabled {
  color: var(--disable-text) !important;
}

.dark {
  background-color: var(--dark-grey-table-normal);
  &.focused {
    background-color: var(--light);
    color: var(--black);
  }
}

.orange {
  background-color: var(--primary-orange-button);
  &.focused {
    background-color: var(--primary-orange-button-hover);
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.15);
  &.focused {
    background-color: var(--light-text);
  }
}

.transparent {
  background-color: transparent;
}

.focusOrange {
  background-color: var(--primary-orange-button) !important;
  color: var(--light) !important;
}

.focusBlack {
  background-color: var(--black) !important;
  color: var(--light) !important;
}

.focusDark {
  color: var(--light) !important;
  background-color: var(--dark-grey-table-normal) !important;
}

.focusTransparent {
  background-color: transparent !important;
}
.focusGlass {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
