.confirmPassword {
  .container {
    width: 627px;
    margin: 0 auto;
    height: 100%;
    min-height: 100lvh;
    .form {
      width: 100%;
      min-height: 40lvh;
      height: 50%;
      gap: 2.5rem;
      background: rgba(255, 255, 255, 0.08);
      padding: 3.75rem;
      margin-top: 2.5rem;
      border-radius: 2.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      .codes {
        width: 450px;
        margin: 0 auto;
        height: 72px;
        .code {
          padding: 1.563rem 0 1.563rem;
          width: 100px;
          box-sizing: border-box;
          border-bottom: 1px solid rgb(255, 255, 255);
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
        }
      }
      .title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 100%;
      }
      .description {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.875rem;
        span {
          color: var(--primary);
        }
      }
    }
  }
}
