.forgotPassword {
  .container {
    height: 100%;
    min-height: 100lvh;
    width: 70%;
    margin: 0 auto;
    max-width: 700px;
    .form {
      width: 100%;
      min-height: 40lvh;
      height: 50%;
      gap: 2.5rem;
      background: rgba(255, 255, 255, 0.08);
      padding: 3.75rem;
      padding-top: 0;
      border-radius: 2.5rem;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      .title {
        margin-top: 2.5rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.125rem;
      }
      .description {
        margin: 0 2.5rem;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.875rem;
        letter-spacing: 0;
        text-align: center;
      }
      .input,
      .button {
        height: 5rem;
        font-size: 1.25rem;
      }
    }
  }
}
