.previous {
  position: fixed;
  top: 2.5rem;
  left: 1.875rem;
}

.button {
  width: 70px !important;
  padding: 0.25rem !important;
  height: 70px;
  &.focused{
    background-color: var(--light);
  }
}
